<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hpinteli7.reservarest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActualizarCicloActivity" />
        <activity android:name=".DeleteCicloActivity" />
        <activity android:name=".InsertarCicloActivity" />
        <activity android:name=".ConsultarCicloActivity" />
        <activity android:name=".ControlBDActivity" />
        <activity android:name=".InsertarAsignaturaActivity" />
        <activity android:name=".DeleteAsignaturaActivity" />
        <activity android:name=".ConsultarAsignaturaActivity" />
        <activity android:name=".ActualizarAsignaturaActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuCicloActivity" />
        <activity android:name=".MenuAsignaturaActivity" />
        <activity android:name=".MenuTCActivity" />
        <activity android:name=".ActualizarTCActivity" />
        <activity android:name=".ConsultarTCActivity" />
        <activity android:name=".InsertarTCActivity" />
        <activity android:name=".DeleteTCActivity" />
        <activity android:name=".InsertarLaboratorioActivity" />
        <activity android:name=".ActualizarLaboratorioActivity" />
        <activity android:name=".MenuLabActivity" />
        <activity android:name=".DeleteLaboratorioActivity" />
        <activity android:name=".ConsultarLaboratorioActivity"></activity>
    </application>

</manifest>